.cards__description{
    line-height: 23px;
    font-size: 18px;
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
}