.footer__column-links{
    margin: 20px 0 16px 0;
    padding: 0; 
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}