.footer__column-links{
    margin: 0;
    padding: 0;
    top: 20px;
    bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}