.header__title{
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-left: 64px;
    max-width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-style: normal;
    z-index: 2;
}